/* Cabecera de la página */

#header{
    width: 100%;
    height: 15%;
	font-family: "BAUHS93";
}

#header h1{
	font-size: 60px;
}

#text_header{
	width: 80%;
    float: right;
	text-align: left;
	line-height: 0.5;
}

#logo {
    text-align: center;
    display: inline-block;
    width: 20%;
    float: left;
}

#logo img{

	width: 45%;
}
