/* Pie de la página */
#footer{
	justify-content: center;
	width: 100%;
	justify-content: center;
	background-color: aliceblue;
}

.contenido .box{
	margin: auto;
	display: table;
	width: auto;
	font-family: "BAUHS93";
	color: #00436c;
}

.contenido .box .box-row{
	display: table-row;
}

.contenido .box .box-cell{
	display: table-cell;
}

.box-cell{
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
	padding-right: 15px;
	width: auto;
}

.box-cell a{
	text-decoration: none;
	color: #00436c;
}

.img-cell{
	max-width: 92px;
}

.text-who{
	width: 95%;
	padding:  0 0 0 0;
	margin: 0 0 0 0;
}